
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,300&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #D7DBDD;
}
header{
    height: 60px;
    width: 100%;
    background-color: #333; 
    box-shadow: 0px 0px 10px gray;
}
main{
    padding-top: 7vh;
}
.img-logo{
    position: absolute;
    right: 485px;
}

#menu ul {
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    right: 4cm;
    list-style:none;
    font:80% Tahoma;
    right: 4cm;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -2%;
}

#menu{
    z-index: 10;
    width:100%;
    height: 6vw;
    background-color: rgb(0, 0, 0);
}

#menu ul li { 
    display: inline; 
}

#menu ul li a {
    background-color:black;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 2px 10px;
    float: left;
    right: 200cm;
    margin: 30px;
}

#menu ul li a:hover {
    background-color:white;
    color: rgb(250, 0, 0);
    border-bottom:3px solid #EA0000;
}

.cadastro {

    float: right;
}
.login {
    float: right;
}
.home {
    color: #ec1839;
}
.sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/b.jpg);
    background-size: cover;
    margin-top: -2%;
}
.caixa{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.texto{
    width: 65%;
    background-color: green;
    height: 65%;
    font-size: large;
    margin-top: 10%;
    padding: 6% 6%;
    text-align: justify;
    background: #ec1839;
    color: white;
    box-shadow: 0px 0px 10px black;
}
.sobre h1{
    background: rgba(0,0,0,0.9);
    width: 35%;
    height: 65%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10%;
    font-weight: 700;
    color: whitesmoke;
    padding: 15% 3%;
    box-shadow: 0px 0px 10px black;
}
.imagem{
    background-image: url(img/a.jpg);
    width: 50%;
    height: 50%;
}
.devs{
    width: 100%;
    height: 100vh;
    background-color: #D7DBDD;
}
.devs h2{
    text-transform: uppercase;
    width: 100%;
    background: rgba(0, 0, 0, 0.911);
    color: whitesmoke;
    padding: 2% 10%;
    font-weight: 600;
    letter-spacing: .2rem;
    box-shadow: -1px 5px 38px black;
}
.info{
    /* background-color: turquoise; */
    width: 100%;
    height: 100vh;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.info div{
    /* background-color: violet; */
    width: 26%;
    height: 40%;
    margin-bottom: 35%;
    padding: 2%;

}
.info h4{
    margin-top: 10%;
    color: #ec1839;
    font-weight: 600;
}
.info p{
    text-align: justify;
}
.foto img{
    background-color: #ddd;
    border-radius: 100%;
    height: 200px;
    object-fit: cover;
    width: 200px;  
    margin-left: 15%;
    box-shadow: 4px 15px 40px black;
    transition: all 2s ease;
}

.foto img:hover{
    transition:1s;
    transform: scale(1.1);
}

.foto a{
    color: #c46976;
    text-decoration: none;
}
.foto a:hover{
    color: #ec1839;
}
footer{
    background-color: #000;
    width: 100vw;
    text-align: center;
    margin-top: 80%;
    color: white;
    height: 420px;
}

.Container{
    padding-top: 4%;
    padding-right:29%;
    color: white;
    overflow: hidden;
}

.campost{
    position: relative;
    left: -95px;
    font-weight: bold;
}

.form-email-footer {
    padding-left: 12%;
    padding-top: 2%;
    width: 50vw;
}

#email{
    height: 30px;
    width: 35%;
    text-align: center;

}

label{
    font-size: 24px;
    color: white;
}

.divlogo{
    margin-top: 4%;
    margin-left: 6%;

}

.article-footer{
    float: right;
    width: 46%;
    height: 26%;
    margin-top: -8%;
    border-left: solid 5px crimson;

}

#botao{
    margin-left: 8%;
    width: 22%;
    height: 41px;
    border-radius: 10px;
    color: black;
    font-size: 22px;
    border-color: red;
    background-color: red;
    transition: 2000ms;
    font-weight: bold;
}

#botao:hover{
    background-color: white;
}
.atitulo{
    color: white;
    position: relative;
    top: -26px;
}
/*seletores para desktops*/
@media screen and (max-width: 1400px) {
    .img-logo {
        right: 445px;
    }
}
/*seletores para tablets*/
@media screen and (max-width: 1200px) {
    .img-logo {
        right: 29%;
    }
    #menu{
        height: 10vw;
    }
    .caixa{
        height: 123vh;
    }
    .foto img {
        margin-left: 0;
    }
    .info div{
        margin-bottom: 40%;
    }
    .Container {
        padding-top: 4%;
        padding-right: 16%;
    }
    footer {
        width: 100%;
        text-align: center;
        margin-top: 86%;
        height: 322px;
    }
}
/*seletores para celurares*/
@media (max-width: 330px) {
    @media screen and (min-width: 320px) {
        .logo img{
            position: relative;
            width: 260px;
            right: -8%;
        }
        #menu{   
            width: 100vw;
            height: 4cm;
        }
        #menu ul{
            margin-bottom: -22%;
        }
        #menu ul li a{
            margin: 0;
            font-size: smaller;
        }
        .lista-1{
            height: 129px;
        }
        .home{
            position: relative;
            left: 0vw;
         }
        
        .portfolio{
            position: relative;
            left: -2vw;
        }
    
        .cadastro{
            position: relative;
            z-index: 1;
            left: -22vw;
            /* top: -175px; */
        }
    
        .login{
            position: relative;
            z-index: 1;
            left: 0vw;
            top: -24px;
        }
        .caixa{
            height: 125vh;
        }
        .devs h2{
            font-size: 14pt;
            height: 10%;
            padding-top: 6%;
        }
        .foto img {
            margin-left: 10%;
        }
        .info div{
            margin-bottom: 190%;
            margin-top: 20%;
            width: 80%;
        }
        .Container {
            padding-top: 7%;
            padding-right: 16%;
        }
        .sobre{
            height: 160vh;
        }
        .sobre h1 {
            width: 100%;
            height: 10%;
            padding: 8% 3%;
            font-size: 18pt;
        }
        .texto{
            width: 100%;
            height: 110%;
            margin-top: 3%;
        }
        .form-email-footer {
            width: 102vw;
            font-size: 12%;
            margin-left: -7%;
        }
        .campost {
            position: relative;
            left: 23px;
            font-weight: bold;
            font-size: smaller;
        }
        #botao {
            margin-left: 5%;
            width: 35%;
            height: 20%;
        }
        label {
            font-size: 19px;
        }
        #email {
            height: 27px;
        }
        .atitulo {
            top: -2px;
            font-size: 12pt;
        }
        .article-footer{
            margin-top: 10%;
        }
        .divlogo {
            margin-top: 13%;
            margin-left: 1%;
        }
        .divlogo img {
            width: 30%;
        }
        footer {
            width: 100%;
            text-align: center;
            margin-top: 1480%;
            height: 380px;
        }
    }
}
@media (max-width: 380px) {
    @media screen and (min-width: 360px) {
        .logo img{
            position: relative;
            width: 260px;
            right: -11%;
        }
        #menu{   
            width: 100vw;
            height: 4cm;
        }
        #menu ul{
            margin-bottom: -20%;
        }
        #menu ul li a{
            margin: 0;
            font-size: smaller;
        }
        .lista-1{
            height: 129px;
        }
        .home{
            position: relative;
            left: 6vw;
         }
        
        .portfolio{
            position: relative;
            left: 5vw;
        }
    
        .cadastro{
            position: relative;
            z-index: 1;
            left: -4vw;
            /* top: -175px; */
        }
    
        .login{
            position: relative;
            z-index: 1;
            left: -3vw;
            /* top: -178px; */
        }
        .caixa{
            height: 125vh;
        }
        .devs h2{
            font-size: 14pt;
            height: 10%;
            padding-top: 6%;
        }
        .foto img {
            margin-left: 15%;
        }
        .info div{
            margin-bottom: 130%;
            margin-top: 20%;
            width: 80%;
        }
        .Container {
            padding-top: 7%;
            padding-right: 16%;
        }
        .sobre{
            height: 140vh;
        }
        .sobre h1 {
            width: 100%;
            height: 10%;
            padding: 8% 3%;
            font-size: 18pt;
        }
        .texto{
            width: 100%;
            height: 90%;
            margin-top: 3%;
        }
        .form-email-footer {
            width: 102vw;
            font-size: 12%;
            margin-left: -7%;
        }
        .campost {
            position: relative;
            left: 23px;
            font-weight: bold;
            font-size: smaller;
        }
        #botao {
            margin-left: 5%;
            width: 35%;
            height: 20%;
        }
        label {
            font-size: 19px;
        }
        #email {
            height: 27px;
        }
        .atitulo {
            top: -2px;
            font-size: 12pt;
        }
        .article-footer{
            margin-top: 10%;
        }
        .divlogo {
            margin-top: 13%;
            margin-left: 1%;
        }
        .divlogo img {
            width: 30%;
        }
        footer {
            width: 100%;
            text-align: center;
            margin-top: 1200%;
            height: 380px;
        }
    }
}
@media (max-width: 420px) {
    @media screen and (min-width: 411px) {
        .logo img{
            position: relative;
            width: 260px;
            right: -16%;
        }
        #menu{   
            width: 100vw;
            height: 4cm;
        }
        #menu ul{
            margin-bottom: -20%;
        }
        #menu ul li a{
            margin: 0;
            font-size: smaller;
        }
        .lista-1{
            height: 129px;
        }
        .home{
            position: relative;
            left: 9vw;
         }
        
        .portfolio{
            position: relative;
            left: 9vw;
        }
    
        .cadastro{
            position: relative;
            z-index: 1;
            left: -4vw;
            /* top: -175px; */
        }
    
        .login{
            position: relative;
            z-index: 1;
            left: -5vw;
            /* top: -178px; */
        }
        .caixa{
            height: 125vh;
        }
        .devs h2{
            font-size: 14pt;
            height: 10%;
            padding-top: 6%;
        }
        .foto img {
            margin-left: 20%;
        }
        .info div{
            margin-bottom: 120%;
            margin-top: 5%;
            width: 80%;
        }
        .Container {
            padding-top: 7%;
            padding-right: 16%;
        }
        .sobre{
            height: 130vh;
        }
        .sobre h1 {
            width: 100%;
            height: 10%;
            padding: 8% 3%;
            font-size: 18pt;
        }
        .texto{
            width: 100%;
            height: 70%;
            margin-top: 3%;
        }
        .form-email-footer {
            width: 102vw;
            font-size: 12%;
            margin-left: -7%;
        }
        .campost {
            position: relative;
            left: 23px;
            font-weight: bold;
            font-size: smaller;
        }
        #botao {
            margin-left: 5%;
            width: 35%;
            height: 20%;
        }
        label {
            font-size: 19px;
        }
        #email {
            height: 27px;
        }
        .atitulo {
            top: -2px;
            font-size: 12pt;
        }
        .article-footer{
            margin-top: 10%;
        }
        .divlogo {
            margin-top: 13%;
            margin-left: 1%;
        }
        .divlogo img {
            width: 30%;
        }
        footer {
            width: 100%;
            text-align: center;
            margin-top: 1020%;
            height: 380px;
        }
    }
}